<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="IoTHubConnectionString" value="HostName=IntegrationIoTHub.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=oyOlwVNc7gKcaPSqiNbNSwMDf0t1aBQyUhtc+qZm+/Y=" />
    <add key="devicesNumber" value="2"/>
  </appSettings>
</configuration>